!!!
%html
  %head
    %title #{@module}.#{@name} Documentation
    %link{:rel => "stylesheet", :href => path_url("assets/main.css"), :type => "text/css"}

  %body
    - if @parent.is_a? Papyri::Project
      %a{:href=>@parent_filename, :alt=>"Go Up"}Go to root...
    - else
      %a{:href=>@parent_filename, :alt=>"Go Up"}Go to #{@parent.name}...

    %h1
      #{@name}
      %span.module #{@module}

    - if @dependencies.length > 0
      %h2
        %span DEPENDENCIES
      %ul
        - @dependencies.each do |d|
          %li
            %a{:href=>"#"} #{d}

    %h2
      %span CONSTRUCTORS
    %ul
      - @constructors.each do |f|
        %li.function
          %span.name #{f}
          .desc #{f.description}
          - f.parameters.each do |p|
            .param
              %b #{p.name}
              =": #{p.description}"

    %h2
      %span PROPERTIES
    %ul
      - @properties.each do |f|
        %li.function
          %span.name #{f}
          .desc #{f.description}
          - f.parameters.each do |p|
            .param
              %b #{p.name}
              =": #{p.description}"

    %h2
      %span METHODS
    %ul
      - @methods.each do |f|
        %li.function
          %span.name #{f}
          .desc #{f.description}
          - f.parameters.each do |p|
            .param
              %b #{p.name}
              =": #{p.description}"

    %h2
      %span EVENTS
    %ul
      - @events.each do |f|
        %li.function
          %span.name #{f}
          .desc #{f.description}
          - f.parameters.each do |p|
            .param
              %b #{p.name}
              =": #{p.description}"
