!!!
%html
  %head
    %title #{@module}.#{@name} Documentation

  %body
    .header
      %span{:style=>"font-size:3em"} #{@name}
      %span{:style=>"color: #888; padding-left: 1em; font-size:2em"} #{@module}

    - if @dependencies.length > 0
      Depends on
      %ul
        - @dependencies.each do |d|
          %li #{d}

    - @constructors.each do |f|
      %h3 #{f}
      .desc #{f.description}
      - f.parameters.each do |p|
        .param #{p.name}: #{p.description}

    - @methods.each do |f|
      %h3 #{f}
      .desc #{f.description}
      - f.parameters.each do |p|
        .param #{p.name}: #{p.description}

    - @properties.each do |f|
      %h3 #{f}
      .desc #{f.description}
      - f.parameters.each do |p|
        .param #{p.name}: #{p.description}

    - @events.each do |f|
      %h3 #{f}
      .desc #{f.description}
      - f.parameters.each do |p|
        .param #{p.name}: #{p.description}
