!!!
%html
  %head
    %title Module #{@name} - Documentation
    %link{:rel => "stylesheet", :href => path_url("assets/main.css"), :type => "text/css"}

  %body

    .header
      .back-link
        - if @parent.is_a? Papyri::Project
          %a{:href=>@parent_filename, :alt=>"Go Up"}Go to root...
        - else
          %a{:href=>@parent_filename, :alt=>"Go Up"}Go to #{@parent.name}...
      .title
        %h1 #{@name}
    %div

    - if @modules.length > 0
      %h2 MODULES
      %ul
        - @modules.each do |m|
          %li
            %a{:href=>path_url(m[:filename]), :alt=>m[:model].name} #{m[:model].name}

    - if @classes.length > 0
      %h2 CLASSES
      %ul
        - @classes.each do |c|
          %li
            %a{:href=>path_url(c[:filename]), :alt=>c[:model].name} #{c[:model].name}
