!!!
%html
  %head
    %title Module #{@name} - Documentation
    %link{:rel => "stylesheet", :href => path_url("assets/main.css"), :type => "text/css"}
    %link{:rel => "stylesheet", :href => 'http://fonts.googleapis.com/css?family=Maven+Pro:500', :type => 'text/css'}
    %link{:rel => "stylesheet", :href => 'http://fonts.googleapis.com/css?family=Voces', :type => 'text/css'}
    %link{:rel => "stylesheet", :href => 'http://fonts.googleapis.com/css?family=Cantata+One', :type => 'text/css'}

  %body

    .header
      .header-content
        .back-link
          - if @parent.is_a? Papyri::Project
            %a{:href=>@parent_filename, :alt=>"Go Up"}="&#x2196;"
          - else
            %a{:href=>@parent_filename, :alt=>"Go Up"}="#{@parent.name} &#x2196;"
        .title
          %h1 #{@name}
    %div

    .content
      - if @modules.length > 0
        %h2 Modules
        %ul
          - @modules.each do |m|
            %li
              %a{:href=>path_url(m[:filename]), :alt=>m[:model].name} #{m[:model].name}

      - if @classes.length > 0
        %h2 Classes
        %ul
          - @classes.each do |c|
            %li
              %a{:href=>path_url(c[:filename]), :alt=>c[:model].name} #{c[:model].name}
